body{
    /*align the calculator in the centre of the page*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}

#keys{
    /*display in even column grid of 4*/
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 10px;

    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(224, 127, 143);
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:rgb(225, 105, 125);
}
/*button flashes to a lighter color when its pressed*/
button:active{
    background-color:rgb(251, 80, 109);
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border:none;
    background-color:rgb(225, 105, 125);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/*use a . when referencing a class*/
.operatorBtn{
    background-color:rgb(251, 80, 109);
}

.operatorBtn:hover{
    background-color:rgb(190, 55, 78);
}

.operatorBtn:active{
    background-color:rgb(188, 48, 71);
}